@model List<Product>
@*
\@ işareti Razor Operator olarak adlandırılır.
\@ işareti C# kodu yazacağımızı belirtmek için kullanılır.

*@


<h1>Product Main Page</h1>

@* @foreach(Product p in Model){
<div>
<h3 class="text-danger">@p.Name</h3>
<p>@p.Price</p>
</div>
<hr>
} *@

<table class="table table-sm table-bordered table-hover">
    <tr class="text-bg-danger">
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model[i].Id</td>
            <td>@Model[i].Name</td>
            <td>@Model[i].Price</td>
            <td>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Details"
                    asp-route-id="@Model[i].Id">Details</a>
            </td>
        </tr>
    }
</table>
